<h1>餐廳後台</h1>

<div class="row justify-content-between flex">

  <div class="col p-2 ml-3">
    <a href="/admin/restaurants">Restaurants</a> | <a href='/admin/categories'>Categories</a> | <a href="/admin/users">Users</a> 
  </div>

</div>

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td scope="row">{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>
          {{this.email}}
      </td>
      <td>
        {{#if this.isAdmin}}
        Admin
        {{else}}
        User
        {{/if}}
      </td>
      <td>
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT"  method="POST" >
            <button type="submit" class="btn btn-link ">
              {{#if this.isAdmin}}
              set as user
              {{else}}
              set as admin
              {{/if}}
            </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>