
    <div class="row p-3 shadow bg-white">

        <div class="col-md-4 mt-3">

            <figure class="figure">
                <img 
                    {{#if profile.image}}
                    src="{{profile.image}}"
                    {{else}}
                    src="/images/no_img.png"
                    {{/if}}
                    alt="user_avatar" 
                    class="figure-img img-fluid rounded img__box img-thumbnail"
                >
                <figcaption class="figure-caption"></figcaption>
            </figure>

        </div>


        <div class="col-md-8 mt-3">

            <h5 class="col-md-12 mt-4">{{profile.name}}</h5>
            <div class="col-md-12">{{profile.email}}</div>
            <div class="col-md-12 mt-4 md-4">
                {{#ifCond profile.id user.id}}
                    <a href="/users/{{../profile.id}}/edit" class="btn btn-primary">Edit</a>
                {{/ifCond}}
                
            </div>
            
        </div>
    </div>


    <div class="row">
        <div class="h4 mt-5 mb-3">評論過的餐廳</div>
    </div>

    <div class="row p-3 shadow bg-white">
        {{#each restaurants}}

            <div class="col-md-6 media mt-3 mb-3">
                <a href="/restaurants/{{this.id}}">
                <img 
                    src="{{this.image}}" 
                    class="mr-3 img-thumbnail img__box mxw__100 shadow-sm" 
                    alt="{{this.name}}'s image"
                >
                </a>

                <div class="media-body p-1">
                    <h5 class="mt-0">{{this.name}}</h5>
                    <a href="/restaurants/{{this.id}}" class="btn btn-primary btn-sm shadow-sm">
                        Visit
                    </a>
                </div>
            </div>
            
        {{/each}}
    </div>
